.roboto-light {
	font-family: "Roboto", sans-serif;
	src: local("Roboto light"), local("Roboto-light"),
		url("../fonts/Roboto-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	src: local("Roboto Regular"), local("Roboto-Regular"),
		url("../fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	src: local("Roboto Medium"), local("Roboto-Medium"),
		url("../fonts/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("../fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	src: local("Roboto Black"), local("Roboto-Black"),
		url("../fonts/Roboto-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Global Styles START */

* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}

body {
	font-family: "Roboto";
	color: #000;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
	font-weight: 400;
	padding-bottom: 250px;
}

input,
label,
textarea,
button {
	font-family: "Roboto";
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

input,
textarea,
div {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.uppercase {
	text-transform: uppercase;
}
/* Global Styles END */
