@import url("global.css");
@import url("vars.css");

.header-top {
	padding: 18px 0;
	/* width: 100%; */
	background-color: #33344f;
	color: #fff;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.header-top-row {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.header-socials {
	display: flex;
	column-gap: 22px;
}

.header-socials-img {
	display: block;
}
.header-info {
	display: flex;
	margin-left: auto;
	column-gap: 25px;
}

.header-info-item {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.header-info-icon img {
	display: block;
}

.header-socials-link,
.header-info-item {
	transition: 0.4s ease;
}

.header-socials-link:hover,
.header-info-item:hover {
	cursor: pointer;
	opacity: 0.5;
}

.header-bottom {
	border: red 1px solid;
}
.header-bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.header-logo img {
	max-width: 150px;
}
.menu-nav > ul {
	display: flex;
	align-items: center;
	column-gap: 40px;
	list-style-type: none;
}
.sub-menu {
	/* display: none; */
	list-style-type: none;
}
/* .header-btn {
} */

.button-link {
	display: inline-block;
	padding: 14px 50px;
	color: #fff;
	background-color: var(--color-1);
	border-radius: 5px;
	transition: 0.5s ease;
}

.header-btn a:hover {
	background-color: var(--color-1-hover);
}
