@import url("global.css");
@import url("vars.css");

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header-top {
	background-color: #33344f;
	color: #b90d0d;
	padding: 18px 0;
	color: #fff;
}

.header-top-row {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.header-info {
	display: flex;
	margin-left: auto;
	align-items: center;
	column-gap: 25px;
}

.header-info-item {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.header-info-icon img {
	display: block;
}

.header-socials {
	display: flex;
	column-gap: 22px;
}

/* .header-socials a img {} */
.header-socials-img {
	display: block;
}

/* .header-socials a {}  */
.header-socials-link,
.header-info-item {
	transition: 0.4s ease;
}

/* .header-socials a:hover {}  */
.header-socials-link:hover,
.header-info-item:hover {
	cursor: pointer;
	opacity: 0.5;
}

.header-bottom {
	border: rgb(199, 43, 43) 2px dotted;
}
.header-bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}

.header-logo img {
	max-width: 150px;
}
.menu-nav > ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	column-gap: 30px;
}

.menu-item-has-children {
	position: relative;
}

ul.menu-nav-list {
	padding: 0;
}

/* .menu-nav ul {} */
.sub-menu {
	/* display: none; */
	list-style-type: none;
	position: absolute;
}

/* .header-btn a {} */
.button-link {
	background-color: var(--color-1);
	display: inline-block;
	padding: 14px 50px;
	border-radius: 5px;
	color: #fff;
	transition: 0.5s ease;
	font-size: 18px;
}

.header-btn a:hover {
	background-color: var(--color-1-hover);
	transform: scale(1.1);
	border-radius: 20px;
}
